<div class="well well-lg">
  <h4><%= @user.name %> <small><%= link_to 'Edit', edit_user_registration_path %></small></h4>
  <h6><%= @user.email %></h6>
</div>
<%= render partial: 'items/form' %>
<h2>this is what's up</h2>
<table class="table table-condensed">
  <tr>
    <th>to be done..</th>
    <th>self destruct in X days</th>
    <th>is done?!</th>
  </tr>
  <% @items.each do |item| %>
    <%= content_tag :tr, id: "todo-#{item.id}" do %>
    <%= render partial: 'items/item', locals: { item: item } %>
    <% end %>
  <% end %>
</table>